@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    background: #faf9f6;
  }
  html,
  #root {
    min-height: 100%;
  }
  * {
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #faf9f6;
  }
  ::-webkit-scrollbar-thumb {
    background: #b7acc7;
    border-radius: 6px;
  }
}
